body {
  
  background-color: wheat;
}

.search {
  margin-top: 100px;
}

.btn-warning {

float: right;
margin-top: 20px;
}


.z-depth-2 {
float: left;
margin-top: 10px;

}

.my-row {
  margin-left: 10px;
  background-color: whitesmoke;
  margin-top: 5px;
  margin-left: 2px;
  padding: 0 5px 0 5px;
}

.my-col {

  margin-bottom: 10px;
  padding: 0 5px 0 5px;
  

}

.poiu {
  size: 740px;
}

.container {
  align-items: center;
}
